@import "compass";
// .compare > figure * 2 > img

    // configs:
    $class: "comparebox";
    $imgs: "../images/Black-Small.png"
           "../images/White-Small.png";
    $boxW: 300px;
    $boxH: 150px;
    $ctrlW: 10px;
    $initPos: $boxW * 0.25;
    $compDeg: 20;

    // color
    $img-box-bgc: rgba(red, .1) rgba(red, .3);
    $ctrl-bgc: rgba(red, .3);

body, figure {
    margin: 0;
}

// group style
    $compDeg_s: #{$compDeg % 45}deg;
    %box2D {
        width: $boxW;
        height: $boxH;
    }

    %box {
        @extend %box2D;
        position: absolute;
        overflow: hidden;

        figure {
            @extend %box2D;
            position: absolute;
            img {
            }
        }
    }

    %img {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
    }

    %pos-right-bottom {
        bottom: 0;
        right: 0;
        top: auto; // IE8
        left: auto; // IE8
    }
    %pos-left-top {
        top: 0;
        left: 0;
        bottom: auto; // IE8
        right: auto; // IE8
    }

    // ctrl bar
    %ctrl {
        position: absolute;
        transition: background-color .5s;
    }


.#{$class} {
    // common style: nojs + js
    @extend %box2D;
    position: relative;
    margin: 10px 20px;
    overflow: hidden;

    figure {
        @extend %box2D;
        position: absolute;
        overflow: hidden;
        &:first-child, // IE8
        &:nth-of-type(1) {
            @extend %pos-right-bottom;

            img {
                @extend %pos-right-bottom;
            }
        }
        &, // IE8
        &:nth-of-type(2) {
            @extend %pos-left-top;
            img {
                @extend %pos-left-top;
            }
        }
    }

    img {
        @extend %box2D;
        position: absolute;
    }

    &:hover {
        span {
            background-color: $ctrl-bgc;
        }
    }


    // for no-js: hover to show another image
    .no-js & {
        // IE8 don't support :nth-of-type
        figure {
            display: none; // IE8
            &:first-child, // IE8
            &:nth-of-type(1) {
                display: block;
            }
        }
        &:hover figure, // IE8
        &:hover figure:nth-of-type(2) {
            display: block;
        }
    }

    background-color: rgba(red, .3); // debug
}


.#{$class}-h {
    figure {

        @if $compDeg != 0 {
            @include transform-origin(50%, 50%);
            @include skew($compDeg_s, 0);
            img {
                @include transform-origin(0%, 50%);
                @include skew(-$compDeg_s, 0);
            }
        }

        &:first-child, // IE8
        &:nth-of-type(1) {
            width: $boxW - $initPos; // init
        }

        &, // IE8
        &:nth-of-type(2) {
            width: $initPos; // init
        }
    }
    span {
        @extend %ctrl;
        width: $ctrlW;
        height: $boxH;
        margin-left: -$ctrlW /2;

        left: $initPos; //init

        @if $compDeg != 0 {
            @include skew($compDeg_s, 0);
        }
    }
}
.#{$class}-v {
    figure {

        @if $compDeg != 0 {
            @include transform-origin(50%, 50%);
            @include skew(0, $compDeg_s);
            img {
                @include transform-origin(50%, 0%);
                @include skew(0, -$compDeg_s);
            }
        }

        &:first-child, // IE8
        &:nth-of-type(1) {
            height: $boxH - $initPos; // init
        }

        &, // IE8
        &:nth-of-type(2) {
            height: $initPos; // init
        }
    }
    span {
        @extend %ctrl;
        width: $boxW;
        height: $ctrlW;
        margin-top: -$ctrlW /2;

        top: $initPos; // init

        @if $compDeg != 0 {
            @include skew(0, $compDeg_s);
        }
    }
}