@import "compass/css3";
// .compare > figure * 2 > img

    // configs:
    $isSVG: true;

    $supportIE8: true;

    $class: "comparebox";
    $imgs: "../images/Black-Small.png"
           "../images/White-Small.png";
    $boxW: 300px;
    $boxH: 150px;
    $ctrlW: 2px;
    $ctrlW_hover: 10px;

    // color
    $img-box-bgc: rgba(red, .1) rgba(red, .3);
    $ctrl-bgc: rgba(red, .3);
    $ctrl-bgc_hover: $ctrl-bgc;

body, figure {
    margin: 0;
}

// group style
    %box2D {
        width: $boxW;
        height: $boxH;
    }

    %box {
        @extend %box2D;
        position: absolute;
        overflow: hidden;

        figure {
            @extend %box2D;
            position: absolute;
            img {
            }
        }
    }

    %img {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
    }

    %pos-right-bottom {
        bottom: 0;
        right: 0;
        @if $supportIE8 {
            top: auto; // IE8
            left: auto; // IE8
        }
    }
    %pos-left-top {
        top: 0;
        left: 0;
        @if $supportIE8 {
            bottom: auto; // IE8
            right: auto; // IE8
        }
    }

    // ctrl bar
    %ctrl {
        position: absolute;
        transition: background-color .5s, width .5s, height .5s;
        background-color: $ctrl-bgc;
    }


// common style: nojs + js
.#{$class} {
    @extend %box2D;
    position: relative;
    overflow: hidden;
    margin: 10px 20px; // custom
    background-color: #ccc; // custom
    figure {
        @extend %box2D;
        position: absolute;
        overflow: hidden;
        &:first-child, // IE8
        &:nth-of-type(1) {
            @extend %pos-right-bottom;
            img {
                @extend %pos-right-bottom;
            }
        }
        &, // IE8
        &:nth-of-type(2) {
            @extend %pos-left-top;
            img {
                @extend %pos-left-top;
            }
        }
    }

    img {
        @extend %box2D;
        position: absolute;
    }

    &:hover {
        cursor: move;
    }

    @if $isSVG {
        &:hover {
            line {
                @if $ctrlW != $ctrlW_hover {
                    stroke-width: $ctrlW_hover;
                }
                @if $ctrl-bgc_hover != $ctrl-bgc {
                    stroke: $ctrl-bgc_hover;
                }
            }
        }
        line {
            stroke-width: $ctrlW;
            stroke: $ctrl-bgc;
            transition: all .5s;
        }
    }

    // for no-js & non-init comparebox: hover to show another image
    // IE8 don't support :nth-of-type
    figure {
        display: none;
        &:first-child {
            display: block;
        }
    }
    &:hover figure {
        display: block;
    }
}

.#{$class}-h {
    figure {
        display: block;
    }
    .ctrlbar {
        @extend %ctrl;
        width: $ctrlW;
        height: $boxH;
        margin-left: -$ctrlW / 2;
    }
    &:hover .ctrlbar {
        background-color: $ctrl-bgc_hover;
        width: $ctrlW_hover;
        margin-left: -$ctrlW_hover / 2;
    }
}
.#{$class}-v {
    figure {
        display: block;
    }
    .ctrlbar {
        @extend %ctrl;
        width: $boxW;
        height: $ctrlW;
        margin-top: -$ctrlW /2;
    }
    &:hover .ctrlbar {
        background-color: $ctrl-bgc_hover;
        height: $ctrlW_hover;
        margin-top: -$ctrlW_hover / 2;
    }
}