    // configs:
    $class: "comparebox";
    $imgs: "../images/Black-Small.png"
           "../images/White-Small.png";
    $boxW: 300px;
    $boxH: 150px;
    $ctrlW: 10px;
    $initPos: 70px;
    // $compDeg: 44;

    // color
    $img-box-bgc: rgba(red, .1) rgba(red, .3);
    $ctrl-bgc: rgba(red, .3);

body, figure {
    margin: 0;
}

// group style
    // $compDeg_s: #{$compDeg % 45}deg;

    // @mixin prefix($prop, $val, $val2:null) {
    //     @each $browser in -moz-, -o-, -webkit-, -ms- {
    //       #{$browser}#{$prop}: $val $val2;
    //     }
    //     #{$prop}: $val;
    // }

    // @mixin skewX($val) {
    //     @include prefix( transform, skewX($val) );
    // }

    // @mixin transform-origin($valX, $valY) {
    //     @include prefix( transform-origin, $valX, $valY );
    // }

    // @mixin background-size($valX, $valY) {
    //     @include prefix( background-size, $valX, $valY );
    // }

    %box2D {
        width: $boxW;
        height: $boxH;
    }

    %box {
        @extend %box2D;
        position: absolute;
        overflow: hidden;

        // @if $compDeg != 0 {
        //     @include skewX($compDeg_s);
        //     @include transform-origin(0, 50%);
        // }

        figure {
            @extend %box2D;
            position: absolute;
            img {
            }
        }
    }

    %img {
        content: '';
        position: absolute;
        background-repeat: no-repeat;

        // @if $compDeg != 0 {
        //     @include skewX(-$compDeg_s);
        // }

        // @include background-size( $boxW, $boxH );
    }

    %pos-right-bottom {
        bottom: 0;
        right: 0;
        top: auto; // IE8
        left: auto; // IE8
    }
    %pos-left-top {
        top: 0;
        left: 0;
        bottom: auto; // IE8
        right: auto; // IE8
    }

    // ctrl bar
    %ctrl {
        position: absolute;
        transition: background-color .5s;
    }


.#{$class} {
    // common style: nojs + js
    @extend %box2D;
    position: relative;
    margin: 10px 20px;
    overflow: hidden;

    figure {
        @extend %box2D;
        position: absolute;
        overflow: hidden;
        &:first-child, // IE8
        &:nth-of-type(1) {
            @extend %pos-right-bottom;

            img {
                @extend %pos-right-bottom;
            }
        }
        &, // IE8
        &:nth-of-type(2) {
            @extend %pos-left-top;
            img {
                @extend %pos-left-top;
            }
        }
    }

    img {
        @extend %box2D;
        position: absolute;
    }

    &:hover {
        span {
            background-color: $ctrl-bgc;
        }
    }


    // for no-js: hover to show another image
    .no-js & {
        // IE8 don't support :nth-of-type
        figure {
            display: none; // IE8
            &:first-child, // IE8
            &:nth-of-type(1) {
                display: block;
            }
        }
        &:hover figure, // IE8
        &:hover figure:nth-of-type(2) {
            display: block;
        }
    }

    background-color: rgba(red, .3); // debug
}


.#{$class}-h {
    figure {
        &:first-child, // IE8
        &:nth-of-type(1) {
            width: $boxW - $initPos; // init
        }

        &, // IE8
        &:nth-of-type(2) {
            width: $initPos; // init
        }
    }
    span {
        @extend %ctrl;
        width: $ctrlW;
        height: $boxH;
        margin-left: -$ctrlW /2;

        left: $initPos - $ctrlW / 2; //init
    }
}
.#{$class}-v {
    figure {
        &:first-child, // IE8
        &:nth-of-type(1) {
            height: $boxH - $initPos; // init
        }

        &, // IE8
        &:nth-of-type(2) {
            height: $initPos; // init
        }
    }
    span {
        @extend %ctrl;
        width: $boxW;
        height: $ctrlW;
        margin-top: -$ctrlW /2;

        top: $initPos - $ctrlW / 2; // init
    }
}

// .compare > .img-box-r + img-box-l




/* .comparebox {
    @extend %box2D;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    cursor: col-resize;
    background-color: rgba(red, .15); // @debug

    .img-box-r {
        @extend %imgbox;
        background-color: nth($img-box-bgc, 1);
        &:after {
            @extend %img;
            background-image: url(nth($imgs, 1));
        }
    }

    .img-box-l {
        @extend %imgbox;
        background-color: nth($img-box-bgc, 2);
        &:after {
            @extend %img;
            background-image: url(nth($imgs, 2));
        }

        width: $boxW / 2; // @init
    }

    span {
        position: absolute;
        height: $boxH;

        @if $ctrlW != 0 {
            width: $ctrlW;
            margin-left: -$ctrlW / 2;
        }

        @if $compDeg != 0 {
            @include skewX($compDeg_s);
        }

        background-color: $ctrl-bgc; // @debug

        left: $boxW / 2; // @init
    }

} */